<!DOCTYPE html>
<html ng-app="app" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport">
		<link rel ="stylesheet" type="text/css" href="main.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>

	<title></title>
	</head>
	<body>
	<h2>i bjergene </h2>
	<h3>(in the mountains, in Danish)</h3>
	<div ng-controller="mainController">
		<div class="banner"></div>
		<section class="photo">
			<img src="http://placehold.it/100x100">
			<img src="http://placehold.it/100x100">
			<img src="http://placehold.it/100x100">

			<!-- <h1>{{text}}</h1> -->
			<h1>Gibberish text for the soul {{texta}}</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu dui ac massa posuere blandit. Cras aliquet purus quis nibh semper blandit. Ut odio eros, lobortis id euismod vitae, ultrices vitae ipsum. </p>

			<p>Nulla viverra sem eget odio elementum imperdiet. Aliquam vitae vehicula diam, in laoreet magna. Nullam at vestibulum mi, ut semper nisi. Sed ut dapibus tellus. Curabitur nec urna porttitor, interdum ante non, pharetra tellus. </p>

			<p>orem ipsum dolor sit amet, consectetur adipiscing elit. <span>Nulla eu dui ac massa</span>posuere blandit. Cras aliquet purus quis nibh semper blandit.<p>
		</section>
		<hr>
		<section class="details">
			<div ng-show='hideText' ng-click="showInput(1)">{{texta}}</div> 
			<input ng-hide='hideText' ng-blur="showInput(1)" 
			ng-model="texta"></input>

			<div ng-show='hideText2' ng-click="showInput(2)">{{textb}}</div>
			<input ng-hide='hideText2' ng-blur="showInput(2)" ng-model="textb"></input>
			<!-- <h3>Education:</h3><input ng-model onclick="return handleClick(event);"></input>
			<h3>Work Experience:</h3><input ng-model></input> -->

		</section>
	</div>

	<script src="main.js"></script>
	</body>
</html>
